<h1>查詢資料</h1>
<select>
    <option>precip_30mn</option>
    <option>precip_3hr</option>
    <option>precip_3hr_1d</option>
    <option>precip_1d</option>
    <option>precip_3d</option>
    <option>precip_7d</option>
    <option>flood_nowcast</option>
    <option>global_landslide_nowcas</option>
    <option>global_landslide_nowcast_3hr</option>
</select>